@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Martel+Sans:wght@600&family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;



}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/background.jpeg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);


}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.66;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    margin: auto;

    justify-content: space-between;
    max-width: 60vw;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    z-index: 1;
    position: relative;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    position: relative;
    display: flex;
    color: white;
    justify-content: center;

    align-items: center;
    height: calc(100% - 62px);
    flex-direction: column;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
    text-align: center;
    z-index: 1;



}

.hero> :first-child {
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
}

.hero> :nth-child(2) {
    text-align: center;
    font-size: 24px;

}

.hero :nth-child(3) {
    text-align: center;
    font-size: 20px;

}

.seperation {
    height: 7px;
    background-color: gray;

}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    cursor: pointer;


}

.btn-red {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 19px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 19px;
    background-color: transparent;
    color: white;
}

.hero-btn {
    display: flex;
    align-items: center;
    align-content: center;
}

.first {
    display: flex;
    background-color: black;
    color: white;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;


}

.secimg {
    position: relative;
    width: 30vw;
}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;

}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0px;
    width: 26vw;



}

section.first>div {
    display: flex;
    flex-direction: column;

}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

.first> :nth-child(2) {
    font-size: 24px;
    font-weight: bold;
}

.faq{
    color: white;
    background-color: gray;
}

